

.card {
    margin-top: 250px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    animation: cardMovement 1s infinite alternate ease-in-out;
}
.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    height: 40px;
    font-size: 50px;
    margin-right: 500px;
  }



.card h2 {
    font-size: 24px;
    color: #554d4d;
}

.card p {
    font-size: 16px;
    color: #666;
}

