/* NavBar.css */

.navbar {
  background-color: azure;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: fixed;

  width: 100%;
  top: 0;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}


.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 10px;
}
.navbar img {
  max-width: 100px;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .button,
  .nav-links {
    margin-top: 10px;
    margin-left: 0;
  }
}