.container {
    margin-top: 150px;
    text-align: center;
    display: flex;
    flex-direction: column; /* Change flex-direction to column */
    align-items: center; /* Change align-items to center */
    justify-content: center;
}

.cart {
    display: flex;
    margin-bottom: 10px;
    text-align: center;
}

.input {
    margin-top: 10px; /* Add margin-top to create space between cart and input */
    display: flex;
    align-items: center;
}
