.left-sidebar {
  width: 250px;
  height: 90%;
  margin-top: 10%;
  background-color: #7a66d3;
  color: #fff;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}

.left-sidebar ul {
  list-style: none;
  padding: 0;
}

.left-sidebar ul li {
  margin-bottom: 10px;
  cursor: pointer;
}

.left-sidebar ul li:hover {
  color: #ffd700;
}
